@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  /* Global font size */
}

@layer utilities {

  /* ================================== */
  /* hide scrollbar */
  /* ================================== */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }

  /* ================================== */
  /* Custom scrollbar design */
  /* ================================== */
  /* Apply to elements with the class scrollbar-custom */
  .scrollbar-custom {
    overflow-y: auto;
    /* Ensure the element is scrollable */
  }

  /* Custom Scrollbar */
  .scrollbar-custom::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
  }

  /* Track */
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Light gray background for the track */
  }

  /* Handle */
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #d1b39c;
    /* Orange color for the handle */
    border-radius: 10px;
    /* Rounded corners for a modern look */
    border: 2px solid #f1f1f1;
    /* Adds space around the thumb */
  }

  /* Handle on hover */
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #9c663b;
    /* Darker orange on hover */
  }


}
  /* ================================== */
  /* custom font styles */
  /* ================================== */

  @layer base {

    /* Big title (e.g., page headers) */
    .text-xl-custom {
      @apply text-xl font-semibold leading-tight;
    }

    /* Heading (e.g., section headers)*/
    .text-lg-custom {
      @apply text-lg font-medium leading-tight;
    }

    /* Base body text */
    .text-md-custom {
      @apply text-[16px] font-normal;
    }

    /* Small text (e.g., captions or footnotes) */
    .text-sm-custom {
      @apply text-sm font-normal leading-relaxed;
    }

    /* Badge (e.g., tags or small highlights) */
    .text-xs-custom {
      @apply text-xs font-medium uppercase tracking-wide;

    }
  }

  /* ================================== */
  /* Other css  */
  /* ================================== */

  .course-locked {
    display: flex;
    position: absolute;
    z-index: 10;
    background-color: rgba(117, 117, 117, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 32px;
    align-items: center;
    gap: 2;
    border-radius: 1rem;
  }

  .course-unlocked {
    display: none;
  }

  .menu-active {
    background-color: #b98f6e;
  }