@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  /* Global font size */
}

@layer utilities {

  /* ================================== */
  /* hide scrollbar */
  /* ================================== */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }

  /* ================================== */
/* Custom scrollbar design */
/* ================================== */
.scrollbar-custom {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  
  /* Hide scrollbar initially */
  overflow: hidden;
}

.scrollbar-custom:hover {
  overflow-y: auto; /* Show scrollbar on hover */
}

.scrollbar-custom:hover::-webkit-scrollbar {
  display: block; /* Show scrollbar on hover */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 4px; /* For Chrome, Safari, and Edge */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f8740b; /* Track color */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #fcba85; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 4px solid #f8740b; /* Space around thumb */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #fbcca5; /* Thumb color on hover */
}

/* Optional: Hover effect for the scrollbar thumb */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #009f30;
}

/* Show scrollbar when hovering */
.scrollbar-custom:hover {
  scrollbar-color: #fcba85 #f8740b; /* Set thumb and track colors on hover */
}

/* ================================== */
/* custom font styles */
/* ================================== */

@layer base {

  /* Big title (e.g., page headers) */
  .text-xl-custom {
    @apply text-xl font-semibold leading-tight;
  }

  /* Heading (e.g., section headers)*/
  .text-lg-custom {
    @apply text-lg font-medium leading-tight;
  }

  /* Base body text */
  .text-md-custom {
    @apply text-[16px] font-normal;
  }

  /* Small text (e.g., captions or footnotes) */
  .text-sm-custom {
    @apply text-sm font-normal leading-relaxed;
  }

  /* Badge (e.g., tags or small highlights) */
  .text-xs-custom {
    @apply text-xs font-medium uppercase tracking-wide;

  }
}

/* ================================== */
/* Other css  */
/* ================================== */

.course-locked {
  display: flex;
  position: absolute;
  z-index: 10;
  background-color: rgba(117, 117, 117, 0.5);
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top : 32px;
  align-items: center;
  gap: 2;
  border-radius: 1rem;
}

.course-unlocked{
  display: none;
}

.active {
  background-color: #fa9d53;
}


